<header class="bg-[#FAFAFA] py-3 px-6 w-full flex">
  <div class="flex items-center gap-2">
    <img src="images/icon-logo.svg" alt="Logo Icon" class="w-5" />
    <h1 class="font-bold">GoTask</h1>
  </div>
  <nav class="ml-auto flex gap-6">
    <button class="bg-white p-2 rounded-xl">
      <img
        src="images/icon-notification.svg"
        alt="Notification Icon"
        class="w-5"
      />
    </button>
    <div class="flex items-center gap-3">
      <img
        src="images/icon-user-avatar.svg"
        alt="User Avatar Icon"
        class="w-7"
      />
      <span class="font-bold">Jennie K.</span>
      <button class="w-3">
        <img src="images/icon-sign-out.svg" alt="Sign Out Icon" class="w-3" />
      </button>
    </div>
  </nav>
</header>
